.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.top-section {
  padding: 92px 50px 89px;
}

.navigation-container {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 292px;
}

.site-nav {
  display: flex;
  gap: 18px;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item-circle {
  list-style: circle;
  margin-left: 15px;
  padding-left: 8px;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover:not(.current) {
  background-color: #000000;
  color: #FFF;
}

.current {
  text-decoration: none;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
}

.logo-img {
  width: 100%;
}

.contact-info {
  width: 240px;
  justify-self: end;
  font-style: normal;
}

.contact-link {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address {
  font-size: 18px;
  line-height: 1.35;
}

.hero-banner {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.title-word {
  display: block;
}

.title-word-1 {
  margin-right: -30px;
}

.title-word-2 {
  text-align: center;
  margin-right: -30px;
}

.title-word-3 {
  text-align: right;
  margin-right: -30px;
}

.banner-actions {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
}

.banner-subtitle {
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cta-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.cta-button:hover {
  color: #000000;
  background-color: #FFF;
}

.items-section {
  padding: 0 24px 5px;
}

.section-heading, .section-heading-about {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.section-heading-about {
    padding: 0 0 30px 0;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.item-card-wrapper {
  height: 100%;
}

.item-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  padding: 50px 40px;
}

.movie-card {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.book-card {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-card {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.card-title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-description {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
}

.more-items-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.more-items-link:hover {
  background-color: #000000;
  color: #FFF;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 0 24px;
  margin-top: -60px;
}

.about-logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  margin-top: 30px;
}

.logo-white {
  width: 148px;
}

.about-content {
  margin-top: 135px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 75px;
}

.about-text p {
  font-size: 20px;
  line-height: normal;
}

.bottom-section {
  padding: 180px 50px 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer-nav-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer-nav-link:hover:not(.current) {
  background-color: #000000;
  color: #FFF;
}

.social-links {
  display: flex;
  gap: 48px;
}

.social-icon {
  width: auto;
  height: 48px;
}